div.plc-polyline-measure-middle-label {
    pointer-events: none;
    padding: 2px 8px;
    background: rgba(255, 255, 255, 0.20);
    color: rgba(0, 0, 0, 1.0);
    font-size: 12px;
    border-left: 4px solid rgba(255, 255, 255, 0.90);
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
}
